{%  extends 'base.html' %}

{% block content %}
		



 <!-- Begin Page Content -->
 <div class="container-fluid">

	<h4>Company Products</h4>

	<hr class="divider"><br>


	  <div class="card shadow mb-4">
	  <div class="card-body">
		<div class="table-responsive">
		  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
			  <tr class="bg-secondary" style="color: white">
				<th>Product Details</th>
			  </tr>
			</thead>

			<tbody>
				{% for i in products %}

				<tr class=" shadow card" style="border:1px solid;">
				<td>
				  <div class="row">
					<div class="col-sm">
					  <p><small>{{i.productname}}</small></p>
					</div>
					<div class="col-sm">
					  <p><small>Validity: {{i.productvalidity}}</small></p>
					</div>
					<div class="col-sm">
					  <p>
						<small>
						  <i class="fas fa-rupee-sign"></i> {{i.productprice}}/-
						</small>
					  </p>
					</div>
				  </div>
				</td>
			  </tr>
			  {% endfor %}				
			</tbody>
		  </table>
		</div>
	  </div>
	</div>     

  </div>
  <!-- /.container-fluid -->

</div>

{% endblock content %}