<!doctype html>

<html lang="en">
  {% load static %}
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  
    <style>
    body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  overflow-x: scroll;
  top: 0;
  overflow-y:scroll;
  left: 0;
  {% comment %} background-color:#5f27cd; {% endcomment %}
  background-color: rgba(0, 0, 0, 0.9);
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;

  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:#3498db
}
#mySidenav{
  width:300px;
  box-shadow: 4px 4px 4px 4px #a9a9a9;
}

.sidenav .closebtn {
  visibility: hidden;
  position: absolute;
  top: 0;
  color:#3498db;
  right: 25px;
  font-size: 36px;
  
}
.logo {
    width: 160px;
    height: 150px;
    margin-top: 7px;
    
    
}

.pd{
  margin-left: 10px;
  padding-right: 20px;
}

.sp{
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


  </style>
  </head>
  <body>
    
    <div id="mySidenav" class="sidenav">
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div >
          <div>
            <img  class="logo rounded mx-auto d-block" src="http://office.praedicoglobalresearch.com/public/img/logo.png" width="40%" style="padding: 2%;">
          </div>
  
	        <ul class="list-unstyled components mb-5">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
            </li>
      
            
      
            
      
            <!-- Nav Item - Pages Collapse Menu -->
      
            <li class="nav-item">
              <a class="nav-link " href="#">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Mail Box </span></a>
            </li>
      
                  <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-id-card"></i>
                <span>Employees</span>
              </a>
              <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="/ouremployee">Our Employees</a>
                </div>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cube"></i>
                <span>Products</span>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{% url 'product-view'  %}">Company Products</a>
                  <a class="collapse-item" href="{% url 'sold-product-view'  %}">Sold Products</a>
                  <a class="collapse-item" href="#">Renewed Products</a>
                </div>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-fw fa-handshake"></i>
                <span>Meetings</span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="{% url 'customer-view'  %}">
                <i class="fas fa-fw fa-users"></i>
                <span>Our Customers</span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-question"></i>
                <span>Customer Complains</span>
              </a>
              <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="#">Customer Complains</a>
                  <a class="collapse-item" href="#">Other Complains</a>
                </div>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Your Selling</span></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-fw fa-star"></i>
                <span>Rating</span></a>
            </li>
      
                    <li class="nav-item">
                <a class="nav-link" href="/myteam">
                  <i class="fas fa-fw fa-users"></i>
                  <span>My Team</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-fw fa-list"></i>
                  <span>Group Task</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-fw fa-handshake"></i>
                  <span>Meetings By Team</span></a>
              </li>
      
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-file-pdf"></i>
                <span>Certificates</span>
              </a>
              <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="#">Certificate</a><a class="collapse-item" href="#">Other Certificates</a>
                </div>
              </div>
            </li>
      

            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo3">
                <i class="fas fa-fw fa-cube"></i>
                <span>Career</span>
              </a>
              <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                   <a class="collapse-item" href="/index/">Career</a>
                  <a class="collapse-item" href="/view_applicant/">View Applicants</a>
                </div>
              </div>
            </li>

	        </ul>

	        <div class="footer">
	        	<p>
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> praedicoglobalresearch.com </a>All rights reserved.
						</p>
	        </div>

	      </div>
    	</nav>

    
		</div>
    </div>
  </body>
</html>