<!DOCTYPE html>
<html>
<style>
    .img-profile {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;}
    img {
            vertical-align: middle;
            border-style: none;
        }
</style>
<head>
  <meta charset="utf-8">
  <title> Dashboard </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="icon" href="http://office.praedicoglobalresearch.com/public/img/logo.png" type="image/gif" sizes="16x16">
 <!-- Custom fonts for this template-->
 <link href="http://office.praedicoglobalresearch.com/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

 <!-- Custom styles for this template-->
 <link href="http://office.praedicoglobalresearch.com/public/css/sb-admin-2.min.css" rel="stylesheet">
 <link href="http://office.praedicoglobalresearch.com/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

 <script src="http://office.praedicoglobalresearch.com/public/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://office.praedicoglobalresearch.com/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

 <link href="http://office.praedicoglobalresearch.com/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

 <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery/jquery.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->
 <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery-easing/jquery.easing.min.js"></script>

 <!-- Custom scripts for all pages-->
 <script src="http://office.praedicoglobalresearch.com/public/js/sb-admin-2.min.js"></script>

 <!-- Page level plugins -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <!-- Page level custom scripts -->

 <script src="http://office.praedicoglobalresearch.com/public/vendor/datatables/jquery.dataTables.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/js/demo/datatables-demo.js"></script>

  
  <script type="text/javascript">
    $(document).ready(function() {
        $('#dataTable1').DataTable();
        $('#dataTable2').DataTable();
        $('#dataTable3').DataTable();
        $('#dataTable4').DataTable();
        $('#dataTable5').DataTable();
        $('#dataTable6').DataTable();
    } );
  </script>

</head>
{% include "sidebar.html" %}
 
<body id="body" style="margin-left:300px;">
  
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
  
          <!-- Topbar -->
          
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
            <!-- Sidebar Toggle (Topbar) -->
            
            <span>
              <a class="" style="cursor: pointer;" onclick="toggleSidebar()"><i class="fas fa-fw fa-lg fa-bars"></i></a>
            </span>
  
            <script>
              function toggleSidebar()
              {
                $("#mySidenav").fadeToggle();
                
                var a=$("#body").css('margin-left');
                
                if(a=='300px'){
                  $("#body").css('margin-left','-=300px');

                }
                else{
                $("#body").css('margin-left','+=300px');
                }
              }
            </script>
  
            <style>
              @media only screen and (max-width: 600px) {
                #mySidenav{display: none;}
              }
            </style>
  
            <marquee style="font-family: Comic Sans MS; color: red">
              <i>"To Win in the Marketplace you must first Win in the Workplace."</i>
              <img src="http://office.praedicoglobalresearch.com/public/img/smiley.png" width="50px">
            </marquee>
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
  
              <div class="topbar-divider d-flex d-sm-block"></div>
 
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow" style="width:150px">
                  
                <a class="nav-link " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="/static/images/{{data.photograph }}">
                    <span class="ml-2 d-flex d-lg-inline text-gray-700 small"> {{data.firstname}} {{data.lastname}}</span>
                  
                        </a>

             
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" id="scriptmodal" href="#" data-toggle="modal" data-target="#profileModal">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item"  href="#" data-toggle="modal" data-target="#passwordModal">
                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                    Change Password
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
  
            </ul>
  
          </nav>
          <!-- End of Topbar -->
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
               <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div><hr>
            <!-- Content Row -->
            <div class="row">

                <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2" data-toggle="modal" data-target="#Total_Earning" style="cursor:pointer;">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Total)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class="fas fa-rupee-sign"></i>
                0/-                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2" data-toggle="modal" data-target="#Stipend" style="cursor:pointer;">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Stipend (Total)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class="fas fa-rupee-sign"></i>
                <i class='count'>0</i>/-                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2" data-toggle="modal" data-target="#Team_Revenue" style="cursor:pointer;">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Team Revenue</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class="fas fa-rupee-sign"></i>
                <i class='count'>0 </i>/-                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2" data-toggle="modal" data-target="#Complains" style="cursor:pointer;">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Complains (All)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class='count'>2</i>                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-question fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2" data-toggle="modal" data-target="#UnsolvedComplains" style="cursor:pointer;">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Complains (Unsolved)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class='count'>0</i>                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Tasks</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <i class='count'>0</i>                          </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Tasks</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <i class='count'>0</i>                      </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  
  <div class="">
      <h3 class="h3 mb-0 text-gray-800">Your's Task</h3>
      <br>
      
      <hr>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="bg-secondary" style="color:white;">
              <th width="2%"></th>
              <th>Task Details</th>
            </tr>
          </thead>
          <tbody>
                                </tbody>
        </table>
      </div>

  </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

  
                  <!-- Footer -->
            
      <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Praedico Global Research Pvt. Ltd. 2019</span>
            </div>
          </div>
        </footer>      <!-- End of Footer -->
  
      </div>
      <!-- End of Content Wrapper -->
  
  
      <a class="scroll-to-top rounded" href="#body">
        <i class="fas fa-angle-up"></i>
      </a>



<!-- password modal -->
    <div class="modal fade"  id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggle">Change Password </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              
            <form id='changepwd' method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
                <div class="form-row">
                
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">Current Password</label>
                      <input type="password" class="form-control" id="currentpwd" name="currentpwd" placeholder="Current Password">
                    </div>
                  
                    <div class="form-group col-md-12">
                      <label for="inputEmail4">New password</label><br>
                      <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="New password">
                   </div>
                  
                   <div class="form-group col-md-12">
                      <label for="inputEmail4">Confirm password</label><br>
                      <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" onkeyup="chk()" placeholder="Re-enter Password">
                      <span id="msg"></span> 
                  </div>
                    
                  </div>
                 
            
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
            <button type="submit" class="btn btn-primary" >Update</button>
          </div>
        </form>
            </div>
           </div>     
          </div>


       <!-- Logout Modal-->
    
      
    
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body"><i style="color:green; font-family: Comic Sans MS;"><b>Good Job... You have no pending Task.</b> <span class="fas fa-thumbs-up" style="font-size:25px;"></span></i></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade bd-example-modal-xl" id="Total_Earning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
        <div class="modal-dialog modal-xl" role="document" style="width:100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Total Earning</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive p-2">
                <table id="dataTable1" class="table table-bordered" style="width:100%">
                  <thead>
                    <tr class="bg-secondary" style="color:white">
                      <th width="2%"></th>
                      <th>Product Details</th>
                    </tr>
                  </thead>
                  <tbody>
                </tbody>
    
                </table>
    
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
      <div class="modal fade bd-example-modal-xl" id="Stipend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
        <div class="modal-dialog modal-xl" role="document" style="width:100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Total Stipend</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive p-2">
                <table id="dataTable2" class="table table-bordered" style="width:100%">
                  <thead>
                    <tr class="bg-secondary" style="color:white">
                      <th width="2%"></th>
                      <th>Product Details</th>
                    </tr>
                  </thead>
                  <tbody>
                                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="modal fade bd-example-modal-xl" id="Team_Revenue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
        <div class="modal-dialog modal-xl" role="document" style="width:100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Team Revenue</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive">
                <table id="dataTable5" class="table table-bordered" style="width:100%">
                  <thead>
                    <tr class="bg-secondary" style="color:white">
                      <th>Employee ID</th>
                      <th>Employee Name</th>
                      <th>Total Revenue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="074d6669716e29323137477760752964686a">[email&#160;protected]</a></td><td>Janvi Patsaria</td><td><i class='fas fa-rupee-sign'></i> 0/-</td></tr><tr><td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2568444b44530b1c1713655542570b464a48">[email&#160;protected]</a></td><td>Manav Arora</td><td><i class='fas fa-rupee-sign'></i> 0/-</td></tr>              </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="modal fade bd-example-modal-xl" id="Complains" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
        <div class="modal-dialog modal-xl" role="document" style="width:100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Customer Complains</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive p-2">
                <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                      <thead>
                        <tr class="bg-secondary" style="color: white">
                          <th></th>
                          <th>Complain Details</th>                      
                        </tr>
                      </thead>
                      <tbody>
                                            <tr>
                          <td>1</td>
                          <td class="p-2 shadow card" style="border:1px solid;">
                            <div class="row">
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i class="fas fa-calendar"></i> <i>03-Feb-2022</i>
                                  </small>    
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain No: PGRCN-2</i><br>
                                    <i>Order Id: PGROID-898</i>
                                  </small>
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain Type: Unable to Create SIP</i><br>
                                    <i>Description: kjj</i>
                                  </small>
                                </p>
                              </div>
                              <div class="col-sm">
                                <p style="text-align: right;">
                                  <small style="color:green">
                                    <i>Solved</i>
                                  </small>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                                            <tr>
                          <td>2</td>
                          <td class="p-2 shadow card" style="border:1px solid;">
                            <div class="row">
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i class="fas fa-calendar"></i> <i>05-Feb-2022</i>
                                  </small>    
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain No: PGRCN-3</i><br>
                                    <i>Order Id: PGROID-898</i>
                                  </small>
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain Type: App Not Working</i><br>
                                    <i>Description: kl</i>
                                  </small>
                                </p>
                              </div>
                              <div class="col-sm">
                                <p style="text-align: right;">
                                  <small style="color:green">
                                    <i>Solved</i>
                                  </small>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                                          </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="modal fade bd-example-modal-xl" id="UnsolvedComplains" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%;">
        <div class="modal-dialog modal-xl" role="document" style="width:100%;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Customer's Unsloved Complains</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="table-responsive p-2">
                <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                      <thead>
                        <tr class="bg-secondary" style="color: white">
                          <th></th>
                          <th>Complain Details</th>                      
                        </tr>
                      </thead>
                      <tbody>
                                            <tr>
                          <td>1</td>
                          <td class="p-2 shadow card" style="border:1px solid;">
                            <div class="row">
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i class="fas fa-calendar"></i> <i></i>
                                  </small>    
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain No: PGRCN-</i><br>
                                    <i>Order Id: </i>
                                  </small>
                                </p>
                              </div>
                              <div class="col-sm">
                                <p>
                                  <small>
                                    <i>Complain Type: </i><br>
                                    <i>Description: </i>
                                  </small>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                                          </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    
    
       <!-- Profile Modal-->


    <div class="modal fade"  id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{data.firstname}}'s Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            
              <div class="container-fluid">
                {% if data.emptype == 'head'%}
                <h4 class="mt-2">Team Head</h4>
                {% endif %}
                  <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="row">
              
               <div class="col-md-5">
                 <form action="/updateprofilepicture" method="post"  name="form1"  enctype="multipart/form-data">{% csrf_token %}
              
                <center>
                  <style type="text/css">
                    .image:hover .img{
                      opacity:0.5;
                    }
                    #upload{
                      display: none;
                    }
                  </style>
                  
                  <script type="text/javascript">
                    $(function(){
                        $("#upload_link").on('click', function(e){
                            e.preventDefault();
                            $("#upload:hidden").trigger('click');
                        });
                    });
                  </script>
                  <div style="border:3px solid #FF7456; width:215px; border-radius:50%;" class="image">
                      <input id="upload" type="file"  name="upload" onchange="uploadfile()" />
                      <input type="submit" style="display: none;">
                    <a href="#" id="upload_link" class="img">
                      <img src="/static/images/{{data.photograph }}" style="width:200px; height:200px; border-radius:50%; object-fit: cover; object-position:top; margin:3px;">
                    </a>
                    
                  </div>

                  <h3 class="mt-3" style="color:#FF7456;">{{data.firstname}} {{data.lastname}}</h3>
                </center>
              </form>
                

              </div>



              <form id='updateprofile' method="post"  name="form1" enctype="application/x-www-form-urlencoded">{% csrf_token %}

              <div class="col-md-6">
                <table cellpadding="10"  style="width:350%;">
                  <tbody>
                    <tr style="border-bottom:1px solid #FF7456; border-top:2px solid lightgrey;">
                      <th style="color:#FF7456;">ID</th>
                      <td>
                        <i type="email" readonly  class="" value="{{data.empid}}" required style="width:85%; border-radius: 5px">{{data.empid}}</i>

                      </td>
                    </tr>

                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Email Id</th>
                      <td>
                      <input type="email" name="emailid" value="{{data.emailid}}" required style="width:85%; border-radius: 5px">                    
                      </td>
                    </tr>

                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Contact</th>
                      <td>
                      <input type="text" name="contactnumber" value="{{data.contact}}" required style="width:85%; border-radius: 5px">                    
                      </td>
                    </tr>

                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Address</th>
                      <td>
                      <input type="text" name="address" value="{{data.address}}" required style="width:85%; border-radius: 5px">                    
                      </td>
                    </tr>

                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Pincode</th>
                      <td>
                      <input type="text" name="pincode" value="{{data.pincode}}" required style="width:85%; border-radius: 5px">                    
                      </td>
                    </tr>

                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Aadhaar</th>
                      <td>
                      <input type="text" name="aadhaar" value="{{data.aadhaar}}" required style="width:85%; border-radius: 5px">                    
                      </td>
                    </tr>

                   
                    <tr style="border-bottom:1px solid #FF7456;">
                      <th style="color:#FF7456;">Description</th>
                      <td>
                      <i readonly   required style="width:85%; border-radius: 5px">{{data.description}}</i>                   
                      </td>
                    </tr>
                   
                   
                    
                  </tbody>
                </table>
              </div>
              
              </div>
            </div>
           </div>     
          </div>
          
              <!-- /.container-fluid -->
      
    
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
            <button type="submit" class="btn btn-primary" >Update</button>
          </div>
       
        </form>
        </div>
      </div>
    </div>

          
              <!-- /.container-fluid -->
      
    
       
        




    
</body>

<script>

  

function uploadfile(){

var data = new FormData();
data.append("upload",$("input[id^='upload']")[0].files[0]);

data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

$.ajax({
  method:"POST",
  url:"/updateprofilepicture",
  processData: false,
  contentType:false,
  mimeType: "multipart/form-data",
  data:data,
  success: function (response) {
    // console.log(response)
    window.location.reload();
    alert("Picture Updated Successfully");
      

    
  },
  error: function (response) {
      // alert the error if any error occured
      //alert(response["responseJSON"]["error"]);
      alert("Some Unknown Error Occured Please try after sometime..")
      window.location.reload();
  },
  
})

console.log("maaaa");
$("#profileModal").modal("show");
console.log("maaaa");


}










  $("#updateprofile").submit(function (e) {
    console.log(e)
    // preventing from page reload and default actions
    e.preventDefault();
    // serialize the data for sending the form data.
    var serializedData = $(this).serialize();
    console.log(e)
    
    // make POST ajax call
    $.ajax({
        type: 'POST',
        url: "{% url 'updateprofile' %}",
        enctype: 'multipart/form-data', 
        data: serializedData,

        success: function (response) {
          // console.log(response)
          window.location.reload();
          alert("Updated Successfully")

          
        },
        error: function (response) {
            // alert the error if any error occured
            window.location.reload();
            alert(response["responseJSON"]["error"]);
        }
    })
})



function workupdatemodal(firstname,lastname,empid){
  $('#empfirstlast').html(firstname+" "+lastname)
  $('#empfirstlastheader').html(firstname+" "+lastname)
  $('#empid').html(empid)
 console.log(firstname)
  
}






    </script>
    


    
<script>
  function chk(){
    if(newpwd.value==confirmpwd.value)
    {msg.innerHTML = "<font color='green'>Password Matched</fo  nt>"}
    else
    {msg.innerHTML = "<font color='red'>Password not matched</font>"}
  
    }    
  
    $("#changepwd").submit(function (e) {
      
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'changepassword' %}",
            data: serializedData,
            success: function (response) {
              // console.log(response)
              window.location.reload();
              alert("Password Updated Successfully")
    
              
            },
            error: function (response) {
                // alert the error if any error occured
                //alert(response["responseJSON"]["error"]);
                alert("Some Unknown Error Occured Please try after sometime..")
                window.location.reload();
            }
        })
    })
  </script>
</html>