<html lang="en"><head>

    <title>Praedico Global Research - Login</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://office.praedicoglobalresearch.com/public/img/logo.png" type="image/gif" sizes="16x16">
  
    <!-- Custom fonts for this template-->
    <link href="http://office.praedicoglobalresearch.com/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="http://office.praedicoglobalresearch.com/public/css/sb-admin-2.min.css" rel="stylesheet">
  
    <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery/jquery.min.js"></script>
    <script src="http://office.praedicoglobalresearch.com/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="http://office.praedicoglobalresearch.com/public/js/sb-admin-2.min.js"></script>
  </head>
  
  <body class="bg-gradient-primary">
  
    <audio autoplay="" hidden="true">
      <source src="http://office.praedicoglobalresearch.com/public/video/Welcome.mp3" type="audio/mpeg">
    </audio>
      
      <video autoplay="" muted="" loop="" style="position: fixed; right: 0; bottom: 0; min-width: 100%;  min-height: 100%;">
        <source src="http://office.praedicoglobalresearch.com/public/video/SM.mp4" type="video/mp4">
      </video>
  
    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-4">
          
          <div class="card o-hidden border-0 shadow-lg mt-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div>
                      <center>
                        <img src="http://office.praedicoglobalresearch.com/public/img/logo.png" width="30%">
                      </center>
                    </div>
                    <br>
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                    </div>
  
                    <hr>
  
                    <form class="user" action="/checklogin" method="post">{% csrf_token %}
                      <div class="form-group">
                        <input type="text" name="emailid" class="form-control form-control-user" id="emailid" aria-describedby="emailHelp" placeholder="Email Id / Mob no." value="">
                      </div>
                      <div class="form-group">
                        <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Password" value="">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck" name="RememberMe">
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                      </div>
                      <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                      <center><small><a href="#">Forgotten Password?</a></small>
                    <h4>{{msg}}</h4>
                    </center>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
            <div class="card shadow-lg mt-2" id="AppCard">
              <div class="card-body" style="padding:5px;">
                <a href="http://office.praedicoglobalresearch.com/public/apk/AndroidApk.apk">
                    <img src="http://office.praedicoglobalresearch.com/public/img/AndroidApp.png" style="width:48%; float: left; margin-right:10px;">
                </a>
                <img src="http://office.praedicoglobalresearch.com/public/img/IOSApp.png" style="width:48%;">
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    
  
    <!-- Bootstrap core JavaScript-->
  
  
  
  
  </body></html>